@model IEnumerable<CarPark.Entities.Concrete.Personnel>
@{
    ViewData["Title"] = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main-content">
    <div class="card">
        <h4 class="card-title"><strong>Personel</strong> Listesi</h4>
        <div class="card-body">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <table class="table table-separated">
                            <thead>
                                <tr>
                                    <th>Ad Soyad</th>
                                    <th>Kullanıcı Adı</th>
                                    <th>Email</th>
                                    <th>Şehir</th>
                                    <th class="text-center w-100px">İşlemler</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var personnel in Model)
                                {
                                    <tr>
                                        <td>@(personnel.Name + " "+personnel.Surname)</td>
                                        <td>@personnel.UserName</td>
                                        <td>@personnel.Email</td>
                                        <td>@personnel.CityName</td>
                                        <td class="text-right table-actions">
                                            <button onclick="roleAdd('@personnel.Id')" class="btn btn-xs btn-danger">Rol İşlem</button>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Rol Güncelle</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modalBody">
                <div class="switch-stacked">
                    <input type="hidden" name="personnelId" id="personnelId" />
                    <div class="row" id="chckRoles">

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
                <button type="button" class="btn btn-primary" id="btnSaveRoles">Kaydet</button>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script>
        function roleAdd(id) {
            $("#exampleModal").modal("show");
            $("#modalBody").LoadingOverlay("show");
            $.ajax({
                url: "/getroles/" + id,
                type: "GET",
                success: function (data) {
                    $("#modalBody").LoadingOverlay("hide");
                    if (data.success) {
                        $("#chckRoles").html("");
                        $("#personnelId").val(id);
                        $.each(data.entity.roles, function (index, role) {
                            var isChecked = "";
                            $.each(data.entity.personnelRoleList, function (index2, personnelRole) {
                                if (role.id == personnelRole.id) {
                                    isChecked = "checked"
                                }
                            })
                            $("#chckRoles")
                                .append("<label class='switch switch-lg switch-success'>" +
                                    "<input name='chckRole' value='" + role.id + "' type='checkbox' " + isChecked + " >" +
                                    "<span class='switch-indicator'></span>" +
                                    "<span class='switch-description'>" + role.normalizedName + "</span>" +
                                    "</label>"
                                )
                        });
                    }
                },
                error: function (data) {
                    $("#modalBody").LoadingOverlay("hide");
                }
            })
        }

        $("#btnSaveRoles").on('click', function () {
            $("#modalBody").LoadingOverlay("show");
            var personnelId = $("#personnelId").val();
            var personnelRoleList = [];
            $("input:checkbox[name=chckRole]:checked").each(function () {
                personnelRoleList.push($(this).val());
            });

            $.ajax({
                url: "/update/personnel/roles",
                type: "POST",
                data: {
                    personnelId: personnelId, personnelRoleList: personnelRoleList
                },
                success: function (response) {
                    $("#modalBody").LoadingOverlay("hide");
                    $("#exampleModal").modal("hide");

                    if (response.success) {
                        Swal.fire(
                            'Başarılı',
                            response.message,
                            'success'
                        )
                    }
                    else {
                        Swal.fire(
                            'HATA!',
                            response.message,
                            'error'
                        )
                    }
                },
                error: function (data) {
                    $("#modalBody").LoadingOverlay("hide");
                }
            })
        })

    </script>

}

